In [15]:
import pandas as pd
import requests # used for gathering API 
import json
import numpy as np
from pandas import DataFrame
from lxml import html # meh, don't really need
import zipfile 
from zipfile import ZipFile # Help manage zips
from pathlib import Path # Converts file extension

# To install package CHECK: py -m pip --version (In command prompt)
# python -m pip install requests-html 
# HOW TO UNZIP: https://youtu.be/tDnla1qAzpg

# Requesting all links associated with the page


# (1) International Energy Data 

r = requests.get('http://api.eia.gov/bulk/INTL.zip') # Request file from server
with open('INTdata.zip', 'wb') as f:
    f.write(r.content)

# Extract contents, of zip file, txt

unzip_file = zipfile.ZipFile('INTdata.zip', 'r') 
unzip_file.extractall()

# https://pynative.com/python-parse-multiple-json-objects-from-file/
# convert txt with multiple json objects to json array in python

IntlList = []
with open('INTL.txt') as f:
    for jsonObj in f:
        IntlDict = json.loads(jsonObj)
        IntlList.append(IntlDict)
    df = pd.DataFrame.from_dict(IntlList)
    df2 = df.iloc[[2,4]]
    df3 = df2[['data', 'series_id']]
    df4 = df3.explode('data')

In [17]:
df4

                         data              series_id
2    [2018, 5.53567365991946]  INTL.26-2-AFRC-QBTU.A
2   [2017, 5.321476589270725]  INTL.26-2-AFRC-QBTU.A
2   [2016, 5.052221141277697]  INTL.26-2-AFRC-QBTU.A
2   [2015, 4.924789177943956]  INTL.26-2-AFRC-QBTU.A
2       [2014, 4.89373056865]  INTL.26-2-AFRC-QBTU.A
..                        ...                    ...
4                 [1984, 133]    INTL.26-2-BHR-BCF.A
4                 [1983, 140]    INTL.26-2-BHR-BCF.A
4                 [1982, 130]    INTL.26-2-BHR-BCF.A
4                 [1981, 120]    INTL.26-2-BHR-BCF.A
4                 [1980, 100]    INTL.26-2-BHR-BCF.A

[79 rows x 2 columns]

In [1]:
data = [[2019, 0.060648574], [2018, 0.0651357]]
type(data)

list